@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 버튼 예시 */
.btn-download::before {
  content: "🕖";
  color: rgb(241, 125, 125);
  margin-right: 10px;
}
.btn-download::after {
  content: "(❁´◡`❁)";
  color: red;
  margin-left: 10px;
}
.btn-download {
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
}
/* 말풍성 꼬리만들기 */
.tooltip {
  position: relative;
  width: 100px;
  background-color: #333;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
}
.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50px;
  border: 10px solid transparent;
  border-top-color: #333;
  /* border: 5px solid red; */
}
/* 구분선 텍스트 */

.divider {
  text-align: center;
  background-color: wheat;
  .divider::before,.after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: aqua;
    vertical-align: middle;
  }
  .divider::before {
    margin-right: 10px;
    margin-left: 10px;
  }
  /* 메뉴 구분선| */
  .menu {
    background-color: yellow;
    display: flex;
    gap: 20px;
  }
  .menu a{
    content: "";
  }
}
